*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    font-family: 'Gothic A1', sans-serif;
}
.logo{
    width: 10%;
    margin-left: 3%;
    margin-right: 3%;
}
header{
    color: aliceblue;
    width: 100%;
    display: flex;
    
}
body{
    background-image: url(./img/bcg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.barra__sup {
    font-size: 150%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 0;
  }
  
  .barra__sup li {
    font-size: 100%;
    margin: 0 70px;
  }
.hamb{
    width: 35%;
    margin-left: 60%;
    margin-top: 5%;
}
.promo{
    width: 15%;
    margin-top: -100%;
    margin-bottom: 25%;
    margin-left: 80%;
    transform: rotate(19deg);
}
.firu{
    width: 35%;
    margin-top: -100%;
    margin-bottom: 12%;
    margin-left: -3%;
}
