*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    overflow: hidden;
    font-family: 'Gothic A1', sans-serif;
}
.logo{
    width: 10%;
    margin-left: 3%;
    margin-right: 3%;
}
header{
    color: aliceblue;
    width: 100%;
    display: flex;
    
}
body{
    background-image: url(./img/bcg.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.barra__sup {
    font-size: 150%;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    margin: 5% 0;
  }
  
  .barra__sup li {
    font-size: 100%;
    margin: 0 70px;
  }
.hamb{
    width: 35%;
    margin-left: 60%;
    margin-top: 5%;
}
.promo{
    width: 15%;
    margin-top: -100%;
    margin-bottom: 25%;
    margin-left: 80%;
    transform: rotate(19deg);
}
.firu{
    width: 35%;
    margin-top: -100%;
    margin-bottom: 12%;
    margin-left: -3%;
}
.redes{
    width: 9%;
    margin-top: -100%;
    margin-bottom: 20%;
    margin-left: -34%;
}
.barra{
    width: 30%;
    margin-top: -100%;
    margin-bottom: 34%;
    margin-left: -10%;
}
.texto{
    color: aliceblue;
    font-size: 540%;
    width: 100%;
    margin-bottom: 100%;
    margin-top: -40%;
    margin-left: 10%;
}
.textinho{
    color: aliceblue;
    margin-top: -96%;
    margin-bottom: 100%;
    margin-left: 10%;
    font-size: 250%;
}
.desc{
    color: aliceblue;
    margin-top: -99%;
    margin-bottom: 100%;
    margin-left: 10%;
    font-size: 120%;
}
.faixa{
    width: 18%;
    margin-top: -105%;
    margin-bottom: 150%;
    margin-left: 40%;
}
.yout{
    width: 5%;
    margin-top: -145%;
    margin-bottom: 140%;
    margin-left: -48%;
}
.textinhodoyoutube{
    color: aliceblue;
    margin-top: -143%;
    margin-bottom: 150%;
    margin-left: 16%;
    font-size: 150%;
}